


.custom-button{
width: 300px;
height: 300px;
}

.margenes{
  margin-top: 15px;
}

.tamaño-div{
  width: 750px;
}

.btn-custom{
  font-size: 65px;
}

.font-text-size{
  margin-top: 15px;
  font-size: 25px;
}
