<h1 class="d-flex justify-content-center flex-wrap">Herramientas Administrador</h1>


<div class="d-flex justify-content-center flex-wrap " *ngIf="editor == 0">

  <div>

  <div class="margenes p-2">
    <button class="btn btn-custom btn-primary custom-button " type="button" (click)="cambiaeditor(1)">
      <img src="https://img.icons8.com/windows/96/null/travel-portal.png"/>
      <div class="font-text-size">Chollos</div>
    </button>
  </div>

    <div class="margenes p-2">
    <button class="btn btn-custom btn-primary custom-button " type="button" (click)="cambiaeditor(2)">
      <img src="https://img.icons8.com/material-rounded/96/null/airplane-take-off.png"/>
      <div class="font-text-size">Viajes</div>
    </button>
  </div>

</div>

<div>

  <div class="margenes p-2">
    <button class="btn btn-custom btn-primary custom-button " type="button" (click)="cambiaeditor(3)">
      <img src="https://img.icons8.com/ios-filled/100/null/suitcase.png"/>
      <div class="font-text-size">vuelos</div>
    </button>
  </div>

  <div class="margenes p-2">
    <button class="btn btn-custom btn-primary custom-button " type="button" (click)="cambiaeditor(4)">
      <img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/96/null/external-glyph-travel-tanah-basah-glyph-tanah-basah-40.png"/>
      <div class="font-text-size">Hoteles</div>
    </button>
  </div>
  </div>


</div>

<div class="d-flex flex-column mb-2 align-content-center" *ngIf="editor == 1">
  <div>
    <app-adminchollo></app-adminchollo>
  </div>
  <div>
    <button class="btn btn-primary" type="button" (click)="cambiaeditor(0)">
      Atras
    </button>
  </div>
</div>

<div class="d-flex flex-column mb-2 align-content-center" *ngIf="editor == 2">
  <div>
    <app-adminvuelos></app-adminvuelos>
  </div>
  <div>
    <button class="btn btn-primary" type="button" (click)="cambiaeditor(0)">
      Atras
    </button>
  </div>
</div>

<div class="d-flex flex-column mb-2 align-content-center" *ngIf="editor == 3">
  <div>
    <app-adminviajes></app-adminviajes>
  </div>
  <div>
    <button class="btn btn-primary" type="button" (click)="cambiaeditor(0)">
      Atras
    </button>
  </div>
</div>

<div class="d-flex flex-column mb-2 align-content-center" *ngIf="editor == 4">
  <div>
    <app-adminhoteles></app-adminhoteles>
  </div>
  <div>
    <button class="btn btn-primary" type="button" (click)="cambiaeditor(0)">
      Atras
    </button>
  </div>
</div>
