  <div class="container__cards">

      <div class="card">
          <div class="cover">
              <img src="assets/p1.png" alt="">
              <div class="img__back"></div>
          </div>
          <div class="description">
              <h2>Oscar Herrán</h2>
              <p>Ingeniero de sistemas con enfoque a la gestión de proyectos, apasionado de la tecnología. Me considero una persona ágil además de ser muy responsable, me gusta aprender y buscar siempre la manera de escalar en mi vida profesional, espiritual, social, física etc.</p>
              <div id="socials" class="">
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-facebook"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa-solid fa-phone"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-github"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-twitter"></i></a>
              </div>
              <input type="button" value="MY WEBSIDE">
          </div>
      </div>

      <div class="card">
          <div class="cover">
              <img src="assets/p2.png" alt="">
              <div class="img__back"></div>
          </div>
          <div class="description">
              <h2>Juan Jose Fernandez</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
              <div id="socials" class="">
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-facebook"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa-brands fa-linkedin"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-github"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-twitter"></i></a>
              </div>
              <input type="button" value="MY WEBSIDE">
          </div>
      </div>

      <div class="card">
          <div class="cover">
              <img src="assets/p3.png" alt="">
              <div class="img__back"></div>
          </div>
          <div class="description">
              <h2>Daniel Martos</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
              <div id="socials" class="">
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-facebook"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa-brands fa-linkedin"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-github"></i></a>
                <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger"><i class="fa fa-twitter"></i></a>
              </div>
              <input type="button" value="MY WEBSIDE">
          </div>
      </div>

  </div>


