<div class="Perfil-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="picture1"><img src="1.jpg" alt="" /></div>
          <div class="picture2"><img src="1a.jpg" alt="" /></div>
          <div class="main-text">
            <h2>Juan Jose</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
              consequatur voluptas, amet architecto nemo perspiciatis corrupti
              assumenda quidem id delectus ratione eveniet? Et, ipsum autem iste
              nihil enim dolorem aspernatur.
            </p>
          </div>
          <div class="socials">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-linkeding"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-twitter"></i>
          </div>
        </div>
      </div>
        <div class="col-md-4 col-xs-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="picture1"><img src="2.jpg" alt="" /></div>
              <div class="picture2"><img src="2a.jpg" alt="" /></div>
              <div class="main-text">
                <h2>Daniel Martos</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                  consequatur voluptas, amet architecto nemo perspiciatis corrupti
                  assumenda quidem id delectus ratione eveniet? Et, ipsum autem iste
                  nihil enim dolorem aspernatur.
                </p>
              </div>
              <div class="socials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkeding"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-twitter"></i>
              </div>
            </div>
          </div>
            <div class="col-md-4 col-xs-12 col-md-6 col-lg-3">
                <div class="card">
                  <div class="picture1"><img src="3.jpg" alt="" /></div>
                  <div class="picture2"><img src="3a.jpg" alt="" /></div>
                  <div class="main-text">
                    <h2>Oscar Herrán</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                      consequatur voluptas, amet architecto nemo perspiciatis corrupti
                      assumenda quidem id delectus ratione eveniet? Et, ipsum autem iste
                      nihil enim dolorem aspernatur.
                    </p>
                  </div>
                  <div class="socials">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkeding"></i>
                    <i class="fa fa-github"></i>
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
      </div>
    </div>
  </div>
</div>
