

<div class="btn-group d-flex align-content-center container">
  <a class="btn btn-primary col-6 m-2" (click)="mostrarmenu(1)">Crear vuelo</a>
  <a class="btn btn-primary col-6 m-2" (click)="mostrarvuelos()">Mostrar vuelos</a>
</div>

<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="menu == 1">
  <div class="card-body">
  <form (ngSubmit)="onSubmit(fcrear)" #fcrear="ngForm">
    <div>
      <label class="form-label" for="aerolinea"> Aereolinea </label>
      <input
        class="form-control"
        id="aerolinea"
        type="text"
        [(ngModel)]="form.aerolinea"
        name="aerolinea"
        #aerolinea="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="tipoAsiento"> Tipo de Asiento </label>
      <input
        class="form-control"
        id="tipoAsiento"
        type="text"
        [(ngModel)]="form.tipoAsiento"
        name="tipoAsiento"
        #tipoAsiento="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="maletas"> Maletas </label>
      <input
        class="form-control"
        id="maletas"
        type="text"
        [(ngModel)]="form.maletas"
        name="maletas"
        #maletas="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="asignacion_asiento"> Asignacion de asiento </label>
      <input
        class="form-control"
        id="asignacion_asiento"
        type="text"
        maxlength="2"
        [(ngModel)]="form.asignacion_asiento"
        name="asignacion_asiento"
        #asignacion_asiento="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="duracion"> Duración </label>
      <input
        class="form-control"
        id="duracion"
        type="text"
        [(ngModel)]="form.duracion"
        name="duracion"
        #duracion="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="escalas"> Escalas </label>
      <input
        class="form-control"
        id="escalas"
        type="text"
        [(ngModel)]="form.escalas"
        name="escalas"
        #escalas="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="origen"> Origen </label>
      <input
        class="form-control"
        id="origen"
        type="text"
        [(ngModel)]="form.origen"
        name="origen"
        #origen="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="destino"> Destino </label>
      <input
        class="form-control"
        id="destino"
        type="text"
        [(ngModel)]="form.destino"
        name="destino"
        #destino="ngModel"
      />
    </div>
    <br />
    <button class="btn btn-success btn-lg m-1" type="submit">Crear</button>
  </form>
</div>
</div>

<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="menu == 2 && !mod">
  <div class="card-body">
<div class="table-responsive" >
  <table class="table table-striped text-center table-bordered align-middle">
    <thead>
      <tr>
        <th>ID</th>
        <th>Aerolinea</th>
        <th>tipoAsiento</th>
        <th>maletas</th>
        <th>asignacion_asiento</th>
        <th>duracion</th>
        <th>escalas</th>
        <th>origen</th>
        <th>destino</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.id }}</td>
        <td>{{ dato.aerolinea }}</td>
        <td>{{ dato.tipoAsiento }}</td>
        <td>{{ dato.maletas }}</td>
        <td>{{ dato.asignacion_asiento }}</td>
        <td>{{ dato.duracion }}</td>
        <td>{{ dato.escalas }}</td>
        <td>{{ dato.origen }}</td>
        <td>{{ dato.destino }}</td>
        <td>
          <div class="d-flex flex-column mb-2">
            <a class="btn btn-success btn-sm m-1"(click)="modificavuelo(dato.id)">+</a>
            <a class="btn btn-danger btn-sm m-1" (click)="borrarvuelo(dato.id)">-</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
<br />
<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="mod == true">
  <div class="card-body">
  <form (ngSubmit)="modifica(fmodificar)" #fmodificar="ngForm">
    <div>
      <label class="form-label" for="aerolinea"> Aereolinea </label>
      <input
        class="form-control"
        id="aerolinea"
        type="text"
        [(ngModel)]="form.aerolinea"
        name="aerolinea"
        #aerolinea="ngModel"
        placeholder="{{datos.aerolinea}}"
      />
    </div>
    <br />
    <div>
      <label for="tipoAsiento"> Tipo de Asiento </label>
      <input
        class="form-control"
        id="tipoAsiento"
        type="text"
        [(ngModel)]="form.tipoAsiento"
        name="tipoAsiento"
        #tipoAsiento="ngModel"
        placeholder="{{datos.tipoAsiento}}"
      />
    </div>
    <br />
    <div>
      <label for="maletas"> Maletas </label>
      <input
        class="form-control"
        id="maletas"
        type="text"
        [(ngModel)]="form.maletas"
        name="maletas"
        #maletas="ngModel"
        placeholder="{{datos.maletas}}"
      />
    </div>
    <br />
    <div>
      <label for="asignacion_asiento"> Asignacion de asiento </label>
      <input
        class="form-control"
        id="asignacion_asiento"
        type="text"
        [(ngModel)]="form.asignacion_asiento"
        name="asignacion_asiento"
        #asignacion_asiento="ngModel"
        placeholder="{{datos.asignacion_asiento}}"
      />
    </div>
    <br />
    <div>
      <label for="duracion"> Duración </label>
      <input
        class="form-control"
        id="duracion"
        type="text"
        [(ngModel)]="form.duracion"
        name="duracion"
        #duracion="ngModel"
        placeholder="{{datos.duracion}}"
      />
    </div>
    <br />
    <div>
      <label for="escalas"> Escalas </label>
      <input
        class="form-control"
        id="escalas"
        type="text"
        [(ngModel)]="form.escalas"
        name="escalas"
        #escalas="ngModel"
        placeholder="{{datos.escalas}}"
      />
    </div>
    <br />
    <div>
      <label for="origen"> Origen </label>
      <input
        class="form-control"
        id="origen"
        type="text"
        [(ngModel)]="form.origen"
        name="origen"
        #origen="ngModel"
        placeholder="{{datos.origen}}"
      />
    </div>
    <br />
    <div>
      <label for="destino"> Destino </label>
      <input
        class="form-control"
        id="destino"
        type="text"
        [(ngModel)]="form.destino"
        name="destino"
        #destino="ngModel"
        placeholder="{{datos.destino}}"
      />
    </div>
    <br />
    <button type="button" class="btn btn-success btn-lg m-1" type="submit">Guardar</button>
    <a class="btn btn-danger btn-lg m-1" (click)="mostrarvuelos()">Cancelar</a>
  </form>
</div>
</div>
