
<footer class="row p-5 pb-3 bg-dark text-white py-4">
    <div class="container">
        <nav class="row">
            <!-- logo -->
            <a class="text-secondary text-decoration-none" href="#" class="col-3 text-reset text-uppercase d-flex align-items-center col-xs-12 col-md-6 col-lg-3"></a>
                <img src="" alt="logo AmazingTrip" class="img-logo mr-2">


            <!-- menu -->
            <ul class="list-unstyled col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase">Nuestras Fechas</li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Diciembre</a></li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Enero</a></li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Febrero</a></li>
            </ul>

            <!-- menu -->
            <ul class="list-unstyled col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase">Nuestros Destinos</li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Islas Canarias</a></li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Islas Baleares</a></li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Andalucía</a></li>
            </ul>
            <!-- menu -->
            <ul class="list-unstyled col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase">Información</li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">¿Quiénes somos?</a></li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Politica de privacidad</a></li>
                <li><a class="text-secondary " href="#" class="text-decoration-none text-reset link-danger">Terminos y condiciónes</a></li>
            </ul>

            <!-- Contactanos -->
            <ul class="list-unstyled col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase text-center">Contáctenos</li>
                <li class="d-flex justify-content-between ">
                    <!-- FB -->
                    <a class="" href="#" class="text-decoration-none text-reset link-danger">
                        <i class="fa-brands fa-facebook"></i></a>
                    <!-- WS -->
                    <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger">
                        <i class="fa-brands fa-whatsapp"></i></a>
                    <!-- TW -->
                    <a class="text-secondary text-decoration-none" href="#" class="text-reset link-danger">
                        <i class="fa-brands fa-twitter"></i></a>
                    <!-- INS -->
                    <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger">
                        <i class="fa-brands fa-instagram"></i></a>
                    <!-- Tel -->
                    <a class="text-secondary text-decoration-none" href="#" class="text-decoration-none text-reset link-danger">
                        <i class="fa-solid fa-phone"></i></a>
                </li>
            </ul>
        </nav>
    </div>

</footer>
