
<footer class="row p-5 pb-3 bg-dark text-white py-3 mt-auto">
    <div class="container">
        <nav class="row">
            <!-- logo -->
            <a class="text-secondary text-decoration-none" routerLink="#" class="col-3 text-center text-reset text-uppercase d-flex align-items-center col-xs-12 col-md-6 col-lg-3"></a>
                <img src="" alt="logo AmazingTrip" class="img-logo mr-2">


            <!-- menu -->
            <ul class="list-unstyled text-center col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase">Nuestras Fechas</li>
                <li><a class="text-secondary " routerLink="#" class="text-decoration-none text-reset link-danger">Diciembre</a></li>
                <li><a class="text-secondary " routerLink="#" class="text-decoration-none text-reset link-danger">Enero</a></li>
                <li><a class="text-secondary " routerLink="#" class="text-decoration-none text-reset link-danger">Febrero</a></li>
            </ul>

            <!-- menu -->
            <ul class="list-unstyled text-center col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase">Nuestros Destinos</li>
                <li><a class="text-secondary text-decoration-none text-reset link-danger" href="#" >Islas Canarias</a></li>
                <li><a class="text-secondary " routerLink="#" class="text-decoration-none text-reset link-danger">Islas Baleares</a></li>
                <li><a class="text-secondary " routerLink="#" class="text-decoration-none text-reset link-danger">Andalucía</a></li>
            </ul>
            <!-- menu -->
            <ul class="list-unstyled text-center col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase">Información</li>
                <li class="nav-item"><a class="nav-link active text-secondary text-decoration-none text-reset link-danger"  routerLink="/about" >¿Quienes somos?</a></li>
                <li class="nav-item"><a class="nav-link active text-secondary text-decoration-none text-reset link-danger"  routerLink="/privacy">Politica de privacidad y cookies</a></li>
                <li class="nav-item"><a class="nav-link active text-secondary text-decoration-none text-reset link-danger"  routerLink="/terms" >Terminos y condiciónes</a></li>
            </ul>

            <!-- Contactanos -->
            <ul class="list-unstyled text-center col-xs-12 col-md-6 col-lg-3">
                <li class="h6 mb-2 font-weight-bold text-uppercase text-center">Contáctenos</li>
                <li class="d-flex justify-content-between ">
                    <!-- FB -->
                    <a class="text-secondary text-decoration-none text-reset link-danger" href="https://es-es.facebook.com//">
                        <i class="fa-brands fa-facebook"></i></a>
                    <!-- WS -->
                    <a class="text-secondary text-decoration-none text-reset link-danger" href="https://web.whatsapp.com/">
                        <i class="fa-brands fa-whatsapp"></i></a>
                    <!-- TW -->
                    <a class="text-secondary text-decoration-none text-reset link-danger" href="https://twitter.com/i/flow/single_sign_on" >
                        <i class="fa-brands fa-twitter"></i></a>
                    <!-- INS -->
                    <a class="text-secondary text-decoration-none text-reset link-danger" href="https://www.instagram.com/" >
                      <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <!-- Tel -->
                    <a class="text-secondary text-decoration-none text-reset link-danger" href="https://discord.com/" >
                      <i class="fa-brands fa-discord"></i></a>
                </li>
            </ul>
        </nav>
    </div>

</footer>



