<h1>Chollos!</h1>

<div class="btn-group">
  <a class="btn btn-primary" (click)="mostrarmenu(1)">Crear chollo</a>
  <a class="btn btn-primary" (click)="mostrarchollos()">Mostrar chollos</a>
  <a class="btn btn-primary" (click)="mostrarmenu(3)">Buscar chollos</a>
  <a class="btn btn-primary" (click)="mostrarmenu(4)">Modificar chollo</a>
  <a class="btn btn-primary" (click)="mostrarmenu(5)">Borrar chollo</a>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 1">
  <form (ngSubmit)="creachollos()">
    <div>
      <label  for="fecha">
        Fecha caducidad
      </label>
      <input id="fecha" type="date" [(ngModel)]="form.fecha" name="fecha" #fecha="ngModel">
    </div>
    <br />
    <div>
      <label for="titulo"> titulo </label>
      <input
        id="titulo"
        type="text"
        [(ngModel)]="form.titulo"
        name="titulo"
        #titulo="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="precio"> precio </label>
      <input
        id="precio"
        type="text"
        [(ngModel)]="form.precio"
        name="precio"
        #precio="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="descripcion"> descripcion </label>
      <input
        id="descripcion"
        type="text"
        [(ngModel)]="form.descripcion"
        name="descripcion"
        #descripcion="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="valoracion"> valoracion </label>
      <input
        id="valoracion"
        type="text"
        [(ngModel)]="form.valoracion"
        name="valoracion"
        #valoracion="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="unidades"> unidades </label>
      <input
        id="unidades"
        type="text"
        [(ngModel)]="form.unidades"
        name="unidades"
        #unidades="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="image_url"> image url </label>
      <input
        id="image_url"
        type="text"
        [(ngModel)]="form.image_url"
        name="image_url"
        #image_url="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="viajes"> ID_viaje </label>
      <input
        id="viajes"
        type="text"
        [(ngModel)]="form.viajes"
        name="viajes"
        #viajes="ngModel"
      />
    </div>
    <br />
    <button class="button" type="submit">Crear</button>
  </form>
</div>


<div class="m-1 p-3 border border-dark" *ngIf="menu == 2">
  <div  *ngFor="let chollo of datos">
      <div class="position-relative p-3">
      <div>
      <app-data-cards [dataChollos]="chollo"></app-data-cards>
      </div>
      <div class="position-absolute top-50 start-100 translate-middle">
        <a class="btn btn-success btn-sm m-1">+</a>
        <a class="btn btn-danger btn-sm m-1" (click)="eliminarchollo(chollo.id_chollo)">-</a>
      </div>
    </div>
  </div>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 3">
  <form (ngSubmit)="buscachollo()">
    <div>
      <label for="busqueda"> Entra id del chollo </label>
      <input
        id="busqueda"
        type="text"
        [(ngModel)]="id"
        name="busqueda"
        #busqueda="ngModel"
      />
    </div>
    <br />
    <button class="button" type="submit">Buscar</button>
  </form>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 5">
  <form >
    <div>
      <label for="busqueda"> Entra id del chollo </label>
      <input
        id="busqueda"
        type="text"
        [(ngModel)]="id"
        name="busqueda"
        #busqueda="ngModel"
      />
    </div>
    <br />
    <button class="button" type="submit">Borrar</button>
  </form>
</div>
<br />
