

<div class="btn-group d-flex align-content-center container" style="column-gap: 24px;">
  <a class="btn btn-primary col-6 " (click)="mostrarmenu(1)">Crear chollo</a>
  <a class="btn btn-primary col-6 " (click)="mostrarchollos()">Mostrar chollos</a>
</div>

<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="menu == 1">
  <div class="card-body">
  <form (ngSubmit)="creachollos()">
    <div>
      <label class="form-label" for="fecha"> Fecha caducidad </label>
      <input class="form-control" id="fecha" type="date" [(ngModel)]="form.fecha" name="fecha" #fecha="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="titulo"> titulo </label>
      <input class="form-control" id="titulo" type="text" [(ngModel)]="form.titulo" name="titulo" #titulo="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="precio"> precio </label>
      <input class="form-control" id="precio" type="number" [(ngModel)]="form.precio" name="precio" #precio="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="descripcion"> descripcion </label>
      <input class="form-control" id="descripcion" type="text" [(ngModel)]="form.descripcion" name="descripcion"
        #descripcion="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="valoracion"> valoracion </label>
      <input class="form-control" id="valoracion" type="number" [(ngModel)]="form.valoracion" name="valoracion"
        #valoracion="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="unidades"> unidades </label>
      <input class="form-control" id="unidades" type="number" [(ngModel)]="form.unidades" name="unidades"
        #unidades="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="image_url"> image url </label>
      <input class="form-control" id="image_url" type="text" [(ngModel)]="form.image_url" name="image_url"
        #image_url="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="viajes"> ID_viaje </label>
      <input class="form-control" id="viajes" type="number" [(ngModel)]="form.viajes" name="viajes" #viajes="ngModel" />
    </div>
    <br />
    <button class="btn btn-success btn-lg m-1" type="submit">Crear</button>
  </form>
</div>
</div>
<!--
<div class="m-1 p-3" *ngIf="menu == 2">
  <div class="position-relative p-3" *ngFor="let chollo of datos">

    <app-data-cards [dataChollos]="chollo"></app-data-cards>

    <a class="btn btn-danger m-1 position-absolute top-0 end-0"
      (click)="eliminarchollo(chollo.id_chollo)">-</a>
  </div>
</div>
-->
<div class="m-1 p-3 d-flex flex-row flex-wrap justify-content-center" *ngIf="menu == 2">
  <div class="position-relative p-3" *ngFor="let chollo of datos">
    <div class="p-2">

    <app-data-cards [dataChollos]="chollo"></app-data-cards>
    <a class="btn btn-danger m-1 position-absolute top-0 end-0"
    (click)="eliminarchollo(chollo.id_chollo)">-</a>
  </div>

  </div>
</div>


<div class="m-1 p-3" *ngIf="menu == 3">
  <form (ngSubmit)="buscachollo()">
    <div>
      <label for="busqueda"> Entra id del chollo </label>
      <input id="busqueda" type="text" [(ngModel)]="id" name="busqueda" #busqueda="ngModel" />
    </div>
    <br />
    <button class="button" type="submit">Buscar</button>
  </form>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 5">
  <form>
    <div>
      <label for="busqueda"> Entra id del chollo </label>
      <input id="busqueda" type="text" [(ngModel)]="id" name="busqueda" #busqueda="ngModel" />
    </div>
    <br />
    <button class="button" type="submit">Borrar</button>
  </form>
</div>
<br />
