<!--
<div class="container">
    <div class="btn-group d-flex justify-content-center">
        <a (click)="openDialog('200ms','600ms')" class="btn btn-primary" >Login</a>
        <a href="register" class="btn btn-primary">Register</a>
    </div>
    <div>

    </div>
</div>
-->

<div class="container d-flex flex-wrap align-items-center py-3 mt-auto ">
  <div>
    <div>
      <div *ngIf="registerDialog == false">
        <app-login></app-login>
      </div>
      <div *ngIf="registerDialog == true">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>¿Ya tienes cuenta?</mat-card-title>
            <mat-card-subtitle
              >Accede a ella de forma gratuita</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <img
              mat-card-md-image
              src="https://toppng.com/uploads/preview/birds-png-image1-birds-flying-in-the-sky-11562911395bfwwufpihs.png"
              alt="Photo of a Shiba Inu"
            />
            <button
              type="button"
              class="btn btn-success btn-lg but1"
              (click)="openOtherDialog()"
            >
              login
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col">
      <div *ngIf="registerDialog == true">
        <app-register></app-register>
      </div>
      <div *ngIf="registerDialog == false">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>¿No tienes cuenta?</mat-card-title>
            <mat-card-subtitle>registrate de forma gratiuta</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <img
              mat-card-md-image
              src="https://toppng.com/uploads/preview/birds-png-image1-birds-flying-in-the-sky-11562911395bfwwufpihs.png"
              alt="Photo of a Shiba Inu"
            />
            <button
              type="button"
              class="btn btn-success btn-lg bt2"
              (click)="openOtherDialog()"
            >
              Registrarme
            </button>
          </mat-card-content>
        </mat-card>

        <br />
      </div>
    </div>
  </div>
</div>
