.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;


}

.contenedor-popup{
background-color: gray;
width: 75%;
height: 75%;
}

#forma{
  min-height: 30vh;
}
.container{
  display:flex ;
  flex-direction: column;
}

.but1{
  margin-left: 30px;
}
.bt2{
  margin-left: 30px;
  justify-content: center
}

