.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;


}

.contenedor-popup{
background-color: gray;
width: 75%;
height: 75%;
}





