

.example-header-image {
  background-image: url('../../assets/logo.png');
  background-size: cover;
  filter: invert(100%);


}


.bg-custom{
  background-color: rgb(243 244 246);
}

.container{
  display:flex ;
  flex-direction: column;
}

