<!--
<div class="container">
    <div class="btn-group d-flex justify-content-center">
        <a (click)="openDialog('200ms','600ms')" class="btn btn-primary" >Login</a>
        <a href="register" class="btn btn-primary">Register</a>
    </div>
    <div>

    </div>
</div>
-->

<div class="container align-items-center mx-auto p-4 bg-custom">

<div class="row">
  <div class="col-6 d-flex align-items-center">
      <div *ngIf="registerDialog == false">
        <app-login></app-login>
      </div>

      <div *ngIf="registerDialog == true">

        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image justify-content-center"></div>
            <mat-card-title>¿Ya tienes cuenta?</mat-card-title>
            <mat-card-subtitle>Accede a ella de forma gratuita</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-success btn-lg mt-2"
              (click)="openOtherDialog()">
              Iniciar sesión
            </button>
          </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>


    <div class="col-6 d-flex align-items-center">
      <div *ngIf="registerDialog == true">

        <app-register></app-register>
      </div>
      <div *ngIf="registerDialog == false">

        <mat-card >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>¿No tienes cuenta?</mat-card-title>
            <mat-card-subtitle>registrate de forma gratiuta</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-success btn-lg"
              (click)="openOtherDialog()"
            >
              Registrarme
            </button>
          </div>
          </mat-card-content>
        </mat-card>


      </div>
    </div>
</div>
</div>
