<section class="w-50 mx-auto text-center pt-5" id="terms">
  <div
    class="mask rgba-black-light d-flex  "
  >
    <div class="row d-flex">
      <div class="container col-md-12 ">
        <h1 class="text-center d-md-block">Terminos y Condiciónes</h1>
        <hr class="bg-light d-md-block" />
        <p>
          <strong>Amazingtrip</strong>  actúa como intermediario entre los usuarios y quienes
          proporcionan los servicios incluidos (aerolíneas, hoteles y transporte
          terrestre entre otros) y se responsabiliza por estructurar paquetes
          turísticos para facilitar al viajero la obtención de cupos aéreos y
          reservación de habitaciones en los Hoteles afiliados a la web
          AmazingTrip, solicitar los servicios requeridos y contratarlos por
          cuenta del usuario de acuerdo con la disponibilidad de los mismos,
          acorde con la información suministrada por los prestadores de
          servicio. Los viajeros que accedan a este sitio o adquieran los
          servicios turísticos ofrecidos, son responsables de leer y comprender
          las disposiciones contenidas en estos términos y condiciones. Si las
          disposiciones aquí señaladas no son claras o si no está de acuerdo con
          alguna de ellas absténgase de adquirir los servicios publicados.
        </p>
        <hr />
        <p>
          <strong>Huésped / Cliente:</strong> Persona que utiliza los
          servicios de alojamiento, transporte, receptivos, alimentación,
          bebidas y demás servicios prestados. <br> <strong>Aerolínea:</strong> las Organizaciónes dedicadas al transporte de pasajeros
          o carga por avión. <br>  <strong>E-TKT:</strong>  Documento electrónico emitido por una
          aerolínea para hacer efectivo los servicios de transporte aéreo
          adquiridos. <br> <strong> Temporadas:</strong>  Periodos determinados del año, en la cual
          aplican condiciones y tarifas diferenciales previamente establecidas. <br>
          <strong>Habitaciones:</strong>  Parte del espacio de un hotel separada de las demás,
          destinada para el descanso de los huéspedes. <br> <strong>Conexiones:</strong>  Cambio de
          avión que hace un cliente en una ciudad o ciudades intermedias, antes
          de llegar a su destino final de viaje. <br> <strong>Reserva:</strong>  Separación de cupos
          aéreos y/o hoteleros en una fecha determinada para un cliente por un
          periodo establecido de tiempo. <br> <strong>Reserva confirmada:</strong>  Separación de cupos
          aéreos y/o hoteleros en una fecha determinada para un cliente por un
          periodo establecido de tiempo. Esta reserva no tiene abonos, o,
          depósitos realizados, o, no cumple con el plan de pagos establecido. <br>
          <strong>Reserva reconfirmada:</strong>  Separación de cupos aéreos y/o hoteleros para un
          cliente en una fecha determinada hasta que se preste el servicio, esta
          reserva tiene abonos y cumple con el plan de pagos establecido, o, el
          pago total realizado. <br> <strong>Reserva cancelada:</strong>  Anulación de una separación
          de cupos aéreos y/o hoteleros para un cliente en una fecha
          determinada, para esta reserva no se realizaron los abonos o depósitos
          establecidos. <br> <strong>Voucher:</strong>  Documento que contiene todos los datos de la
          reserva reconfirmada con pago total de un servicio turístico y posee
          un código de reserva, el cual debe ser presentado por el cliente a los
          prestadores del servicio en los cuales tenga reconfirmada su reserva
          para disfrutar de los servicios comprados. <br> <strong>Factura:</strong>  Corresponde al
          documento que confirma el pago total del Plan Turístico. <br> <strong>No show:</strong>  No
          presentación de un cliente a un plan previamente comprado sin dar
          aviso. No presentarse a su reservación puede generar la pérdida del
          plan adquirido. <br> <strong>Reembolso:</strong>  Operación económica mediante la cual un
          cliente se le devuelve parte o la totalidad del dinero que había
          entregado previamente como pago de un plan. <br>  <strong>Tarjeta de turismo:</strong>
          Impuesto cobrado en algunos países y/o destinos para permitir la
          entrada de personas no residentes a su territorio por un periodo
          temporal. <br> <strong>Destino:</strong>  Área, lugar o zona a donde se dirige un cliente,
          mediante la compra de un plan turístico. <br> <strong>Plan de viaje:</strong>  Es un conjunto
          de servicios turísticos que se comercializan de forma única. Contiene
          servicios como alojamiento, alimentación, transporte y otros
          servicios, por los cuales se paga un precio que cubre la totalidad de
          los servicios. No se establece un precio individual para cada servicio
          que se presta. <br> <strong>Chollo</strong>  Ofrecimiento temporal de
          productos en condiciones especiales de manera gratuita o más
          favorables, como incentivo para el consumidor. También se entenderá
          por promoción, el ofrecimiento de productos con un contenido adicional
          a la presentación habitual, en forma gratuita o a precio reducido y
          temporal. Así como el que se haga por el sistema de incentivos al
          consumidor, tales como sorteos, concursos y otros similares, en
          dinero, en especie o con acumulación de puntos. <br> <strong>Penalidad:</strong>  Sanción
          económica causada por el incumplimiento de una o varias condiciones o
          circunstancias pactadas con anterioridad en el plan de viaje. <br>
          <strong>Servicios complementarios:</strong> Servicios turísticos adicionales que no
          están incluidos en el plan turístico y que son opcionales por parte
          del usurario/viajero. <br> <strong>Infante, Niño y Adulto:</strong>  Se consideran Infantes a
          los menores de 2 años, Niños a los menores entre los 2 años cumplidos
          y los 11 años en la fecha de ingreso al hotel y adulto a partir de los
          12 años.
        </p>
        <div class="text-center text-md-left">
          <button class="btn btn-indigo">
            Continuar
            <i class="fas fa-play ml-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
