<div class="container mx-auto">
  <div class="card my-5">
    <div class="row">
      <div class="col col-lg-3">
        <div class="text-center margins">
          <img
            [src]="profileData.fotoPerfil"
            class="rounded rounded-circle img-size text-center img-center"
            width="75%"
            height="75%"
          />
          <br />
          <h1 class="display-1">{{ profileData.usuario }}</h1>
          <h3>{{ profileData.nombre }} {{ profileData.apellidos }}</h3>

          <div *ngIf="profileData.correo != null">
            Correo: {{ profileData.correo }}
          </div>
          <div *ngIf="profileData.ciudad != null">
            Ciudad: {{ profileData.ciudad }}
          </div>
          <div *ngIf="profileData.fechaNacimiento != null">
            Fecha de nacimiento: {{ profileData.fechaNacimiento }}
          </div>
          <br />
          <button
            class="p-2 bd-highlight reservar-button"
            mat-stroked-button
            (click)="openDialog()"
          >
            Editar Perfil
          </button>
          <hr />
          <button
            class="p-2 bd-highlight eliminar-button"
            mat-stroked-button
            (click)="tokenData.logout()"
            routerLink="/home"
          >
            Desconectarse
          </button>
        </div>
      </div>

      <div class="col col-lg-9">
        <div class="text-center margins-reservas">
          <h1><strong>Mis reservas</strong></h1>
        </div>


        <div *ngIf="reservas != null">
        <div class="d-flex flex-wrap justify-content-center">


          <div *ngFor="let reservaChollo of reservas">
            <div class=" custom-card margins-reservas">
              <app-data-cards
                [dataChollos]="reservaChollo.chollo"
                [reservaId]="reservaChollo.id"
                [isReserva]="true"
                (cargarReservas)="getData($event)"
              ></app-data-cards>
            </div>
          </div>
        </div>
        </div>

        <div *ngIf="reservas == ''">
          <div class="h1-custom text-warning text-center align-items-center" style="margin-top: 20%;">

                ¡Todavia no tienes ninguna reserva!
            <div style="margin-top: 45px;">
                <a class="btn btn-success btn-lg" routerLink="/chollos">Ir a chollos</a>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
