

.margins{
  margin-top: 120px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.margins-reservas{
  margin-top: 35px;
}

.custom-card{
width: 410px;
height: auto;
}

.img-center {margin:0 auto;}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.reservar-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #ddd;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.reservar-button:hover {
  background-color: #04AA6D;;
  color: black;
}

.eliminar-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #ddd;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.eliminar-button:hover {
  background-color: #d71111;
  color: white;
}

.h1-custom{
  font-size: 30px;
  font-weight: bold;
}

/*          */
