/*
body{
  background: #eee;
}
#side_nav{
  background: #000;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}
.content{
  min-height: 100vh;
  width: 100%;
}
hr.h-color{
  background: #eee;
}
.sidebar li.active{
  background: #eee;
  border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover {
  color: #000;
}
.sidebar li a{
  color: #fff;
}
@media(max-width:767px){
  #side_nav{
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
#side_nav.active{
  margin-left: 0;
}
}*/



.margins{
  margin-top: 120px;
  margin-left: 20px
}

.margins-reservas{
  margin-top: 35px;
}

.custom-card{
width: 410px;
height: auto;
}

.img-center {margin:0 auto;}

.reservar-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #ddd;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.reservar-button:hover {
  background-color: #04AA6D;;
  color: black;
}

.eliminar-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #ddd;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.eliminar-button:hover {
  background-color: #d71111;;
  color: black;
}


