
.card-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#content3{
min-height: 30vh;
/* max-height: 30vh; */
}

