<section class="w-50 mx-auto text-center pt-5" id="privacity">
  <div
    class="mask rgba-black-light d-flex justify-content-center align-items-center"
  >
    <div class="row">
      <div class="container col-md-12 text-left text-while">
        <h1 class="text-center d-md-block">Politica de privacidad y cookies</h1>
        <section class="text-center text-md-left col-xs-12">
          <h2>Objetivo</h2>
          <p>Definir los lineamientos generales para la implementación, aplicación, monitoreo, sostenimiento y mejora continua del programa de cumplimiento de protección de datos personales en la operación de la Compañía.</p>
        </section>
        <hr>
        <section class="text-center text-md-left col-xs-12">
          <h2>Alcance</h2>
          <p>El Equipo responsables del sitio web en su condición de responsable del tratamiento, reconoce la importancia de la seguridad, privacidad y confidencialidad de los datos personales de sus colaboradores, potenciales clientes, clientes, proveedores, y en general de todos sus agentes de interés respecto de los cuales ejerce tratamiento de información personal.</p>
        </section>
        <hr>
        <section class="text-center text-md-left col-xs-12">
          <h2>Definiciones</h2>
          <ol>
            <p><strong>3.1 Autorización:</strong> Consentimiento previo, expreso e informado del titular de los datos personales para llevar a cabo el tratamiento de datos personales. El consentimiento puede ser otorgado por escrito, de forma oral o mediante conductas inequívocas del Titular que permitan concluir que otorgó la autorización.</p>
            <p><strong>3.2 Aviso de Privacidad:</strong> Es la comunicación verbal o escrita cuyo propósito es informar al Titular de los datos sobre la existencia de una política de tratamiento de datos personales que le será aplicable en el proceso de tratamiento de su información.</p>
            <p><strong>3.3 Base de Datos/Banco de Datos:</strong> Es el conjunto organizado de datos personales que será objeto de Tratamiento por la Compañía y que tiene las características requeridas para ser registrada ante el Ente de Control competente, si la norma y legislación local así lo disponen. Las bases de datos o bancos de datos son considerados activos de información que contienen información organizada en medios magnéticos o físicos de potenciales clientes, clientes, proveedores y colaboradores, entre otros.</p>
            <p><strong>3.4 Dato Personal:</strong> Cualquier información vinculada o que pueda asociarse a una o a varias personas naturales determinadas o determinables. El dato personal se clasifica en.
            <p><strong>3.3.1 Dato Público:</strong> Es el dato que no sea privado o sensible. Son considerados datos públicos, entre otros, los siguientes datos: nombre, documento de identidad, estado civil de las personas, género, entre otros.</p>
            <p><strong>3.3.2 Dato Privado:</strong> Es el dato que por su naturaleza íntima o reservada sólo es relevante para la persona titular del dato, como la información salarial y la información financiera.</p>
            <p><strong>3.3.3 Dato Sensible:</strong> Información que afecta la intimidad del titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos biométricos, entre otros, la captura de imagen fija o en movimiento, huellas digitales, fotografías, iris, reconocimiento de voz, facial o de palma de mano, entre otros. Los datos personales de menores de edad se consideran datos sensibles, sin importar el tipo de dato.</p>
            <p><strong>3.5 Encargado del tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realiza el tratamiento de datos personales por cuenta del Responsable del tratamiento.</p>
            <p><strong>3.6 Oficial de Protección de Datos Personales:</strong> Persona encargada de implementar, vigilar, controlar y promover la aplicación de la Política de Protección de Datos Personales al interior de La Compañía.</p>
            <p><strong>3.7 Responsable del Tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decide sobre la base de datos y/o el Tratamiento de los datos.</p>
            <p><strong>3.8 Repositorio de Información:</strong> Conjunto organizado de datos en medio físico o magnético, en los cuales puede existir o no información personal de titulares, los cuales no son sujetos de reporte ante los Entes de Control.</p>
            <p><strong>3.9 Titular del Dato:</strong> Persona natural cuyos datos personales sean objeto de tratamiento.</p>
            <p><strong>3.10 Transferencia:</strong> La transferencia de datos tiene lugar cuando el Responsable y/o Encargado del tratamiento de datos personales, ubicado en cualquiera de los países en los cuales se establece la operación, envía la información o los datos personales a un receptor, que a su vez es Responsable del tratamiento y se encuentra dentro o fuera del país del cual se remitió.</p>
            <p><strong>3.11 Transmisión:</strong> Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del país en los cuales se establece la operación, cuando tenga por objeto la realización de un tratamiento del Encargado por cuenta del Responsable.</p>
            <p><strong>3.12 Tratamiento:</strong> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.</p>
          </ol>
        </section>
        <hr>
        <div class="text-center text-md-left">
          <button class="btn btn-indigo">
            Continuar
            <i class="fas fa-play ml-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
