<h1>Viajes</h1>

<div class="btn-group">
  <a class="btn btn-primary" (click)="mostrarmenu(1)">Crear viaje</a>
  <a class="btn btn-primary" (click)="mostrarmenu(2)">Escoger viaje</a>
  <a class="btn btn-primary" (click)="mostrarmenu(3)">Modificar viaje</a>
  <a class="btn btn-primary" (click)="mostrarmenu(4)">Borrar viaje</a>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 1">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="vuelos"> Vuelo  </label>
      <input
        id="vuelos"
        type="text"
        [(ngModel)]="form.vuelos"
        name="vuelos"
        #vuelos ="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="hotel"> Hotel </label>
      <input
        id="hotel"
        type="text"
        [(ngModel)]="form.hotel"
        name="hotel"
        #hotel="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="origen"> Origen </label>
      <input
        id="origen"
        type="text"
        [(ngModel)]="form.origen"
        name="origen"
        #origen="ngModel"
      />
    </div>
    <br />
    <div>
      <label for="destino"> Destino </label>
      <input
        id="destino"
        type="text"
        [(ngModel)]="form.destino"
        name="descripcdestinoion"
        #destino="ngModel"
      />
    </div>
    <br />
    <button class="button" type="submit">Crear</button>
  </form>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 2">
  <form (ngSubmit)="buscaviaje()">
    <div>
      <label for="busqueda"> Entra id del viaje </label>
      <input
        id="busqueda"
        type="text"
        [(ngModel)]="id"
        name="busqueda"
        #busqueda="ngModel"
      />
    </div>
    <br />
    <button class="button" type="submit">Buscar</button>
  </form>
</div>

<div class="m-1 p-3 border border-dark" *ngIf="menu == 4">
  <form (ngSubmit)="borraviaje()">
    <div>
      <label for="busqueda"> Entra id del viaje </label>
      <input
        id="busqueda"
        type="text"
        [(ngModel)]="id"
        name="busqueda"
        #busqueda="ngModel"
      />
    </div>
    <br />
    <button class="button" type="submit">Borrar</button>
  </form>
</div>
<br />
{{ datos }}
