
<div class="btn-group d-flex align-content-center container">
  <a class="btn btn-primary col-6 m-2" (click)="mostrarmenu(1)">Crear viaje</a>
  <a class="btn btn-primary col-6 m-2" (click)="mostrarviajes()">Mostrar viajes</a>
</div>


<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="menu == 1">
  <div class="card-body">
  <form (ngSubmit)="onSubmit(fcrear)" #fcrear="ngForm">
    <div>
      <label class="form-label" for="vuelos"> Vuelo </label>
      <input class="form-control" id="vuelos" type="text" [(ngModel)]="form.vuelos" name="vuelos" #vuelos="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="hotel"> Hotel </label>
      <input class="form-control" id="hotel" type="text" [(ngModel)]="form.hotel" name="hotel" #hotel="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="origen"> Origen </label>
      <input class="form-control" id="origen" type="text" [(ngModel)]="form.origen" name="origen" #origen="ngModel" />
    </div>
    <br />
    <div>
      <label class="form-label" for="destino"> Destino </label>
      <input class="form-control" id="destino" type="text" [(ngModel)]="form.destino" name="destino" #destino="ngModel" />
    </div>
    <br />
    <button class="btn btn-success btn-lg m-1" type="submit">Crear</button>
  </form>
</div>
</div>

<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="menu == 2 && !mod">
  <div class="card-body">
<div class="table-responsive">
  <table class="table table-striped text-center table-bordered align-middle">
    <thead>
      <tr>
        <th>ID</th>
        <th>Vuelos ID</th>
        <th>Hotel ID</th>
        <th>Origen</th>
        <th>Destino</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">

        <td>{{ dato.id }}</td>
        <td>{{ dato.vuelos.id }}</td>
        <td>{{ dato.hotel.id }}</td>
        <td>{{ dato.origen }}</td>
        <td>{{ dato.destino }}</td>
        <td>
          <div class="d-flex flex-column mb-2">
            <a class="btn btn-success btn-sm m-1" (click)="modificaviajes(dato.id)">+</a>
            <a class="btn btn-danger btn-sm m-1" (click)="borrarviajes(dato.id)">-</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
<br />

<div class="m-1 p-3 bg-white card container mx-auto shadow" *ngIf="mod == true">
  <div class="card-body">
  <form (ngSubmit)="modifica(fmodificar)" #fmodificar="ngForm">
    <div>
      <label class="form-label" for="vuelos"> Vuelo </label>
      <input class="form-control" id="vuelos" type="number" [(ngModel)]="form.vuelos" name="vuelos" #vuelos="ngModel" placeholder="{{datos.vuelos.id}}"/>
    </div>
    <br />
    <div>
      <label class="form-label" for="hotel"> Hotel </label>
      <input class="form-control" id="hotel" type="number" [(ngModel)]="form.hotel" name="hotel" #hotel="ngModel" placeholder="{{datos.hotel.id}}"/>
    </div>
    <br />
    <div>
      <label class="form-label" for="origen"> Origen </label>
      <input class="form-control" id="origen" type="text" [(ngModel)]="form.origen" name="origen" #origen="ngModel" placeholder="{{datos.origen}}"/>
    </div>
    <br />
    <div>
      <label class="form-label" for="destino"> Destino </label>
      <input class="form-control" id="destino" type="text" [(ngModel)]="form.destino" name="destino" #destino="ngModel" placeholder="{{datos.destino}}"/>
    </div>
    <br />
    <button class="btn btn-success btn-lg m-1" type="submit">Guardar</button>
    <a class="btn btn-danger btn-lg m-1" (click)="mostrarviajes()">Cancelar</a>
  </form>
</div>
</div>
